import "./css/bootstrap.css"
import "./vendors/linericon/style.css"
import "./css/themify-icons.css"
import "./vendors/owl-carousel/owl.theme.default.min.css"
import "./vendors/fontawesome/css/all.min.css"
import "./vendors/owl-carousel/owl.carousel.min.css"
import "./vendors/nice-select/css/nice-select.css"
import "./css/style.css"

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
